<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./tests</directory>
                <directory suffix=".php">./.github</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
    <testsuites>
        <testsuite name="Bookeo API on PHP tests">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="BOOKEO_SECRET_KEY" value="Ks7yQXbPwNSMoluRH0fT6c5cDQpe4kFX"/>
        <env name="BOOKEO_API_KEY" value="AXHNMCXA33CKTT9H9963R425564NHLTW16D15F8386F"/>
    </php>
</phpunit>
